body {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    padding: 12px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

main {
    text-align: center;
}

#aboutMe {
    margin-top: 150px;
}

#work {
    margin-top: 150px;
}

#contacts {
    margin-top: 150px;
}

.work {
    display: inline-flex;
    justify-content: center;
}

.work img {
    margin: 10px;
    border-radius: 7px;
}
.jsicon {
    opacity: 0.5;
}
/* .jsicon:hover {
    opacity: 1;
} */

.myimg {
    margin-top: 100px;
    border-radius: 50%;
    width: 38vmax;
}


footer {
    text-align: center;
    margin: 0;
    padding: 12px;
}